@import url("../font-awesome/4.7.0/css/font-awesome.min.css");
.howTo-section {
   min-height: 40vh;
   margin-top: 40px;
   margin-bottom: 40px;
}
.howTo-section .heading {
   width: 100% !important;
   justify-content: flex-start;
   margin-bottom: 20px;
}
@media screen and (max-width: 1250px) {
   .howTo-section .heading .fade-heading {
      font-size: 17rem;
   }
}
@media screen and (max-width: 1020px) {
   .howTo-section .heading .fade-heading {
      font-size: 15rem;
   }
}
@media screen and (max-width: 900px) {
   .howTo-section .heading .fade-heading {
      font-size: 11rem;
   }
}
@media screen and (max-width: 690px) {
   .howTo-section .heading .fade-heading {
      font-size: 8rem;
   }
}
@media screen and (max-width: 460px) {
   .howTo-section .heading .fade-heading {
      font-size: 5rem;
   }
}
.howTo-section .heading .section-heading {
   margin-left: 150px;
}
@media screen and (max-width: 700px) {
   .howTo-section .heading .section-heading {
      margin-left: 20px;
   }
}
@media screen and (max-width: 460px) {
   .howTo-section .heading .section-heading {
      font-size: 4rem;
   }
}
.howTo-section .howTo-content {
   margin-top: 30px;
   margin-bottom: 40px;
   margin-left: 150px;
   margin-right: 150px;
   padding: 20px;
}
@media screen and (max-width: 1000px) {
   .howTo-section .howTo-content {
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 0px;
      gap: 40px;
      width: 95%;
   }
}
.howTo-section .howTo-content .section-sub-heading {
   color: white;
   font-size: 1.4rem;
   font-weight: 600;
}
.howTo-section .howTo-content .content-grid {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 20px;
   padding: 20px 0;
}
@media screen and (max-width: 700px) {
   .howTo-section .howTo-content .content-grid {
      grid-template-columns: 1fr;
   }
}
.howTo-section .howTo-content .content-grid .card {
   background: #202020;
   padding: 15px;
   border-radius: 10px;
}
@media screen and (max-width: 700px) {
   .howTo-section .howTo-content .content-grid .card {
      padding: 15px 5px;
   }
}
.howTo-section .howTo-content .content-grid .card img {
   width: 100% !important;
}
.howTo-section .howTo-content .content-grid .card > h1 {
   color: #ffffff;
   font-size: 1.4rem;
   font-weight: 500;
   margin-bottom: 10px;
}
.howTo-section .howTo-content .content-grid .card > p {
   text-align: center;
   color: #848484;
   margin-top: 5px;
}
.howTo-section .howTo-content .center {
   width: 100%;
}

.milestone-section > div {
   display: grid;
   grid-template-columns: 1fr 1fr;
   padding: 0 30px 20px;
   gap: 40px;
}
@media screen and (max-width: 700px) {
   .milestone-section > div {
      grid-template-columns: 1fr;
   }
}
.milestone-section > div > img:first-child {
   justify-self: end;
}
@media screen and (max-width: 700px) {
   .milestone-section > div > img:first-child {
      justify-self: start;
   }
}
.milestone-section > div > img:last-child {
   justify-self: start;
}
.milestone-section > div > img {
   width: 83%;
}
@media screen and (max-width: 700px) {
   .milestone-section > div > img {
      width: 100%;
   }
}

.main-footer {
   width: 100%;
   padding: 30px 0px 15px;
   background-color: #000000;
   border-top: 4px solid #eb1c24;
}
@media screen and (max-width: 767px) {
   .main-footer {
      padding-bottom: 160px !important;
   }
}
.main-footer .container {
   max-width: 1320px;
   margin: 0px auto;
   padding-left: 15px;
   padding-right: 15px;
}
.main-footer .footer-container {
   display: grid;
   grid-template-columns: 2fr 1fr 1fr 1fr;
   align-self: center;
   gap: 20px;
   border-bottom: 1px solid #242424;
   padding-bottom: 25px;
}
@media screen and (max-width: 767px) {
   .main-footer .footer-container {
      border: none;
      flex-wrap: wrap;
      flex-direction: column;
      grid-template-columns: repeat(1, 1fr);
   }
}
.main-footer .footer-container .footer-logo {
   display: flex;
   gap: 0px 30px;
   margin-left: 0px;
}
@media screen and (max-width: 576px) {
   .main-footer .footer-container .footer-logo {
      flex-direction: column;
   }
}
.main-footer .footer-container .footer-logo .flogo img {
   width: 120px;
}
.main-footer .footer-container .footer-logo .socila-icons {
   display: flex;
   gap: 0px 25px;
   margin-bottom: 15px;
}
.main-footer .footer-container .footer-logo .socila-icons img {
   width: 24px;
}
.main-footer .footer-container .footer-logo .socila-icons .youtube {
   width: 30px;
}
.main-footer .footer-container .footer-logo .footer-text {
   padding-top: 15px;
}
.main-footer .footer-container .footer-logo .footer-text p {
   font-size: 15px;
   font-weight: 400;
   color: #ffffff;
   line-height: 26px;
   margin-bottom: 0px;
}
.main-footer .footer-container .footer-logo .footer-text p .statup {
   color: #eb1c24;
   font-weight: 700;
   margin-left: 7px;
}
.main-footer .footer-container .footer-logo .footer-text p .statup a {
   text-decoration: none;
   color: #eb1c24;
}
.main-footer .footer-container .footer-logo .footer-text p .statup a img {
   width: 126px;
   position: relative;
   top: 17px;
}
.main-footer .footer-container .footer-box h4 {
   font-family: "Montserrat";
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 24px;
   color: #ffffff;
}
.main-footer .footer-container .footer-box .footer-links ul {
   margin: 0px;
   padding: 0px;
}
.main-footer .footer-container .footer-box .footer-links ul li {
   list-style: none;
   font-size: 15px;
   font-weight: 500;
   line-height: 20px;
   margin-bottom: 15px;
   color: #ffffff;
}
.main-footer .footer-container .footer-box .footer-links ul li a {
   text-decoration: none;
   color: #ffffff;
   transition: all 0.3s ease-in-out;
}
.main-footer .footer-container .footer-box .footer-links ul li a:hover {
   color: #eb1c24;
}
.main-footer .bottom-footer {
   width: 100%;
   padding-top: 40px;
}
@media screen and (max-width: 767px) {
   .main-footer .bottom-footer {
      padding-top: 32px;
   }
}
@media screen and (max-width: 767px) {
   .main-footer .bottom-footer .bfooterText {
      display: none;
   }
}
.main-footer .bottom-footer h5 {
   font-weight: 600;
   font-size: 14px;
   line-height: 17px;
   color: #ffffff;
   margin-bottom: 15px;
}
.main-footer .bottom-footer p {
   color: #ffffff;
   font-size: 12px;
   margin-bottom: 15px;
   line-height: 23px;
}
.main-footer .bottom-footer .copyright {
   text-align: center;
   padding-top: 30px;
   position: relative;
}
@media screen and (max-width: 767px) {
   .main-footer .bottom-footer .copyright {
      padding-top: 10px;
   }
}
.main-footer .bottom-footer .copyright .copyright-text {
   font-weight: 500;
   font-size: 14px;
   line-height: 16px;
   color: #ffffff;
}
.main-footer .bottom-footer .copyright .webmaint {
   font-weight: 600;
   font-size: 14px;
   line-height: 18px;
   color: rgba(160, 160, 160, 0.82);
}
.main-footer .bottom-footer .copyright .webmaint a {
   text-decoration: none;
   color: rgba(160, 160, 160, 0.82);
}
.main-footer .bottom-footer .copyright .ssl {
   position: absolute;
   right: 0px;
   bottom: 0;
}
@media screen and (max-width: 767px) {
   .main-footer .bottom-footer .copyright .ssl {
      position: static;
      margin-top: 3px;
   }
}
.main-footer .footer-links {
   margin-top: 2.3rem;
   margin-bottom: 1.8rem;
   display: flex;
   padding-top: 0px;
   justify-content: space-between;
}
@media screen and (max-width: 600px) {
   .main-footer .footer-links {
      flex-wrap: wrap;
      gap: 10px;
      justify-content: flex-start;
      flex-direction: column;
   }
}
.main-footer .footer-links a {
   text-decoration: none;
   font-size: 15px;
   font-weight: 500;
   color: #fff;
}
@media screen and (max-width: 600px) {
   .main-footer .footer-links a {
      font-size: 15px;
   }
}

.footer-mobile-view {
   display: none;
}
@media screen and (max-width: 767px) {
   .footer-mobile-view {
      display: block;
   }
}

.accordion-container .accordion-title {
   position: relative;
   margin: 0;
   padding: 10px 14px;
   background: #000000;
   border: 1px solid #ffffff;
   border-radius: 7px;
   font-size: 1.6rem;
   font-weight: 500;
   color: #fff;
   cursor: pointer;
   margin-top: 15px;
}
@media screen and (max-width: 767px) {
   .accordion-container .accordion-title {
      font-size: 1.6rem;
   }
}

.accordion-container .accordion-title:hover,
.accordion-container .accordion-title:active,
.accordion-title.open {
   background-color: #000;
}

.accordion-container .accordion-title::after {
   content: "\f107";
   font-family: FontAwesome;
   font-style: normal;
   font-weight: normal;
   position: absolute;
   top: 8px;
   right: 10px;
   font-size: 22px;
}

.accordion-container .accordion-title.open::after {
   content: "\f106";
   font-family: FontAwesome;
   font-style: normal;
   font-weight: normal;
   top: 8px;
   right: 10px;
   font-size: 22px;
   position: absolute;
   top: 7px;
   border-bottom-color: #fff;
}

.accordion-content {
   background: #1c1c1c;
   border-radius: 0px 0px 7px 7px;
   padding: 5px 0px;
   border: 1px solid #fff;
}
.accordion-content .footer-links {
   margin: 0px;
   padding: 0px 0px;
}
.accordion-content .footer-links ul {
   padding: 5px 0px;
   margin: 0px;
}
.accordion-content .footer-links ul li {
   list-style: none;
   margin-bottom: 0px;
}
.accordion-content .footer-links ul li a {
   font-size: 14px;
   font-weight: 500;
   padding: 5px 12px;
   display: block;
}

.accordion-container {
   max-width: 500px;
   margin: 0 auto;
}

.main-block {
   margin-bottom: 15px;
   border: 1px solid #fff;
   border-radius: 7px;
}

@media screen and (max-width: 767px) {
   .footer-box.desk-link {
      display: none;
   }
}

.accordion-title.js-accordion-title.open {
   border-radius: 7px 7px 0px 0px;
   border-bottom: none;
}

.ludo-footer .footer-links {
   margin-top: 1.2rem;
}
@media screen and (max-width: 767px) {
   .ludo-footer .footer-links {
      margin-top: 5px;
   }
}
@media screen and (max-width: 767px) {
   .ludo-footer .accordion-title {
      font-size: 1rem;
   }
}

.free20-download-now {
   display: none;
}
@media screen and (max-width: 767px) {
   .free20-download-now {
      background: #191919;
      box-shadow: 0px -4px 14px #950f12;
      border-radius: 20px 20px 0px 0px;
      padding: 10px 20px 25px;
      text-align: center;
      margin-top: 40px;
      display: flex;
      width: 100%;
      flex-direction: column;
      position: fixed;
      bottom: 0;
      z-index: 99;
   }
   .free20-download-now.new {
      box-shadow: none;
      border-radius: 0;
      margin-top: 0;
      position: relative;
   }
   .free20-download-now h4 {
      font-weight: 600;
      font-size: 15px;
      color: #ffffff;
   }
   .free20-download-now h4 span {
      color: #eb1c24;
   }
   .free20-download-now .ban-download-btn {
      margin-top: 30px;
   }
   .free20-download-now .ban-download-btn .app-download-btn {
      margin-top: 40px;
      background-color: #eb1c24;
      padding: 12px 32px;
      font-size: 16px;
      font-weight: 600;
      border-radius: 29px;
      border: none;
      text-decoration: none;
      color: #fff;
   }
   .offer-container.displayNone {
      display: none !important;
   }
   .header-container.mobile-view-only {
      height: fit-content;
   }
}

.hero-unique {
   color: #ffffff;
   font-size: 4rem;
   margin: 20px 5px;
   font-weight: 500;
   position: relative;
   width: fit-content;
}
@media screen and (max-width: 700px) {
   .hero-unique {
      font-size: 2.8rem !important;
      margin-left: 0px;
      margin-bottom: 0px;
   }
}
.hero-unique::after {
   content: "";
   position: absolute;
   width: 100%;
   height: 2px;
   bottom: 11px;
   left: 0;
   transform: rotate(-1.6deg);
}

.center {
   margin: 20px auto;
   color: #ffffff;
   font-size: 1.4rem;
   line-height: 2.2rem;
   margin-bottom: 20px;
}

.red {
   font-weight: 700 !important;
}

@media screen and (min-width: 1000px) {
   .hero-image > img {
      margin-right: 50px;
   }
}

.hero-container {
   grid-template-rows: none;
}
@media screen and (max-width: 1000px) {
   .hero-container {
      padding-top: 50px !important;
   }
}
@media screen and (min-width: 1100px) {
   .hero-container .hero-content:first-child {
      grid-row: 1/3;
      align-self: center;
      width: unset;
      justify-self: center;
      transform: scale(1.1);
   }
}
@media screen and (max-width: 700px) {
   .hero-container {
      padding-top: 10px !important;
   }
   .hero-container .hero-content:first-child {
      margin-top: 0px !important;
   }
}
.hero-container .hero-content:nth-child(2) {
   margin-top: 30px !important;
}
@media screen and (max-width: 700px) {
   .hero-container .hero-content:nth-child(2) {
      margin-top: 0px !important;
   }
}
.hero-container .hero-heading {
   font-size: 4rem;
}
@media screen and (max-width: 700px) {
   .hero-container .hero-heading {
      font-size: 2.8rem !important;
   }
}

.review-section > .heading {
   width: 100% !important;
   justify-content: flex-start !important;
}
.review-section > .heading .section-heading {
   margin-left: 150px;
}
@media screen and (max-width: 700px) {
   .review-section > .heading .section-heading {
      margin-left: 20px;
   }
}

@media screen and (max-width: 1000px) {
   .offer-container {
      display: block !important;
   }
}

@font-face {
   font-family: Commando;
   src: url("../commando.ttf");
}
.header-container.mobile-view-only {
   position: static;
}
@media screen and (max-width: 1000px) {
   .header-container {
      justify-content: center !important;
      display: flex !important;
   }
   .header-container > h1 {
      font-family: Commando;
      letter-spacing: 2px;
      text-align: center;
      color: white;
      font-size: 3rem;
   }
}

.games-section > .heading {
   width: 100% !important;
}
.games-section > .heading .section-heading {
   margin-left: 150px;
}
@media screen and (max-width: 700px) {
   .games-section > .heading .section-heading {
      margin-left: 20px;
   }
}
@media screen and (min-width: 1100px) {
   .games-section .games-container {
      margin-left: 150px !important;
      margin-right: 150px !important;
   }
}
@media screen and (min-width: 1100px) {
   .games-section .games-container .games-track {
      width: 100%;
      padding: 0;
   }
}

.logo-image-container {
   display: flex;
   align-items: center;
   justify-content: center;
}
.logo-image-container > img {
   width: 40%;
}

.feature-section {
   height: unset !important;
}
@media screen and (min-width: 700px) {
   .feature-section > .heading {
      width: 100%;
      justify-content: start;
   }
}
.feature-section > .heading .section-heading {
   margin-left: 150px;
}
@media screen and (max-width: 700px) {
   .feature-section > .heading .section-heading {
      margin-left: 20px;
   }
}
@media screen and (max-width: 700px) {
   .feature-section .center {
      width: 100%;
      text-align: center;
   }
}
@media screen and (min-width: 1100px) {
   .feature-section > div:last-child {
      margin-left: 150px;
      margin-right: 150px;
   }
}
.feature-section > div:last-child .feature-content {
   width: 100% !important;
}

@media screen and (max-width: 700px) {
   .feature-section.mobile-view-only {
      display: block !important;
   }
}

@media screen and (max-width: 450px) {
   #home.hero-container {
      padding: 0 !important;
   }
   .download-popup .hero-subHeading {
      text-align: center;
      width: 70%;
   }
   .download-popup .hero-subHeading .big-screen {
      display: none;
   }
   .hero-container .hero-image > img {
      max-height: 320px;
   }
   .hero-container .hero-image {
      margin-bottom: 0;
   }
}

@media screen and (max-width: 1000px) {
   .desktop-view-only {
      display: none !important;
   }
}
@media screen and (min-width: 1001px) {
   .mobile-view-only {
      display: none !important;
   }
}
.android-apple-button {
   display: none;
}
@media screen and (max-width: 767px) {
   .android-apple-button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
      margin-top: 15px;
   }
   .android-apple-button .appimg {
      width: 150px;
   }
}

.android-apple-button-desktop {
   display: none;
}
@media screen and (min-width: 767px) {
   .android-apple-button-desktop {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
      margin-top: 30px;
   }
   .android-apple-button-desktop .appimg {
      width: 180px;
   }
}

.modal-box {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1055;
   display: none;
   width: 100%;
   height: 100%;
   overflow-x: hidden;
   overflow-y: auto;
   outline: 0;
}

.modal-box.show {
   display: block;
}

.modal-box .modal-content {
   width: 100%;
   height: 100%;
   padding-top: 10%;
   z-index: 999;
   background-color: rgba(0, 0, 0, 0.966);
}

.modal-box .modal-content .closebtn {
   position: absolute;
   top: 100px;
   right: 50px;
   z-index: 999;
   cursor: pointer;
}

.modal-box .modal-content .closebtn img {
   width: 40px;
}

.modal-box .modal-content .modal-body {
   max-width: 500px;
   margin: 50px auto;
   padding: 20px;
}

.modal-box .modal-content .modal-body img {
   width: 400px;
}

/*# sourceMappingURL=fanbattle.css.map */
