@import url("../css2-1");
.header-container {
   width: 100%;
   background: rgba(28, 28, 28, 0.5);
   padding: 15px 30px;
   position: fixed;
   left: 0px;
   top: 0px;
   backdrop-filter: blur(10px);
   z-index: 999;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.header-container .logo-container {
   flex: 1;
   display: flex;
   align-items: center;
   justify-content: center;
}
@media screen and (max-width: 700px) {
   .header-container .logo-container {
      flex: 3;
   }
}
.header-container .logo-container > img {
   width: 7vh;
   height: 7vh;
}
.header-container .logo-container.ks-logo {
   flex: 1;
   padding-left: 0px;
   justify-content: flex-start;
}
@media screen and (max-width: 700px) {
   .header-container .logo-container.ks-logo {
      flex: 3;
   }
}
.header-container .header-link-container {
   flex: 4;
}
.header-container .header-link-container .header-link {
   list-style: none;
   display: flex;
}
.header-container .header-link-container .header-link > li {
   margin-right: 80px;
   font-size: 1.8rem;
}
.header-container .header-link-container .header-link > li > a {
   color: white;
   text-decoration: none;
}
.header-container .header-link-container .active {
   font-weight: 600;
}
.header-container > nav:last-child {
   flex: 1;
}
.header-container .button-md {
   padding: 10px 25px;
   font-size: 16px;
   font-weight: 400;
   position: relative;
   top: 6px;
}
.header-container .download-mobile-btn {
   visibility: hidden;
}
@media screen and (max-width: 767px) {
   .header-container .download-mobile-btn {
      visibility: visible;
   }
}
.header-container .download-btn {
   visibility: hidden;
}
.header-container.header-1 {
   position: absolute;
   top: 0px;
   background: rgba(255, 255, 255, 0.08);
}

@media screen and (max-width: 700px) {
   .header-container {
      height: 8vh;
   }
   .header-container .logo-container {
      justify-content: flex-start;
   }
   .header-container .header-link-container {
      display: none;
   }
   .header-container > nav:last-child {
      flex: unset;
   }
   .header-container > nav:last-child > button {
      padding: 10px 20px;
   }
}
@media screen and (min-width: 700px) and (max-width: 1100px) {
   .header-container .hamburger-container {
      display: flex;
   }
   .header-container .hamburger-container > p {
      margin-right: 15px;
   }
   .header-container .logo-container {
      justify-content: flex-start;
   }
}
@media screen and (min-width: 1100px) and (max-width: 1299px) {
   .header-link > li {
      margin-right: 50px !important;
   }
}
.hero-container {
   width: 100vw;
   height: 100%;
   padding-top: 10vh;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 2fr;
   place-items: center;
   color: white;
}
.hero-container .hero-content {
   height: fit-content;
   width: 80%;
   justify-self: flex-end;
}
.hero-container .hero-content:first-child {
   align-self: end;
}
.hero-container .hero-content .text-animation-container {
   overflow-y: hidden;
   max-height: 55px;
   height: fit-content;
}
.hero-container .hero-content .text-animation-container .track {
   animation: moveup 10s ease-out infinite forwards;
}
.hero-container .hero-content .text-animation-container .track > h2 {
   margin-bottom: 50px;
}
@keyframes moveup {
   0% {
      opacity: 0;
      transform: translateY(50%);
   }
   10% {
      transform: translateY(10%);
      opacity: 1;
   }
   30% {
      transform: translateY(10%);
      opacity: 1;
   }
   35% {
      opacity: 0;
   }
   40% {
      opacity: 1;
      transform: translateY(-35%);
   }
   60% {
      opacity: 1;
      transform: translateY(-35%);
   }
   65% {
      opacity: 0;
   }
   70% {
      transform: translateY(-75%);
      opacity: 1;
   }
   90% {
      opacity: 1;
      transform: translateY(-75%);
   }
   100% {
      opacity: 0;
      transform: translateY(-100%);
   }
}
.hero-container .hero-content:nth-child(2) {
   align-self: start;
   overflow-x: hidden;
}
.hero-container .hero-image {
   height: 100%;
   grid-column: 2/3;
   grid-row: 1/3;
   display: flex;
   align-items: flex-end;
   justify-content: flex-end;
}
.hero-container .hero-image > img {
   width: 95%;
}
.hero-container .hero-subHeading {
   font-size: 2rem;
   line-height: 2.5rem;
   font-weight: 500;
   margin-bottom: 20px;
}
.hero-container .hero-heading {
   font-size: 4.8rem;
   font-weight: 500;
   margin-bottom: 20px;
}
.hero-container .owl-card-container {
   width: 80%;
   max-width: 400px;
}
.hero-container .card {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px 30px;
   border-radius: 10px;
   background-color: #1e1e1e;
}
.hero-container .card img {
   width: 80px;
   height: 80px;
}
.hero-container .card .team-container {
   width: 150px;
   align-self: stretch;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.hero-container .card .team-container .image-container {
   display: grid;
   place-items: center;
   margin-bottom: 15px;
}
.hero-container .card .team-container > p {
   text-align: center;
}
.hero-container > p {
   margin: 30px;
}

@media screen and (max-width: 1000px) {
   .hero-container {
      padding: 7vh 0px 10px;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      height: fit-content;
   }
   .hero-container .hero-content {
      width: 100%;
      order: 3;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 10px;
   }
   .hero-container .hero-content:nth-child(1) {
      align-items: flex-start;
   }
   .hero-container .hero-content .hero-subHeading {
      margin-bottom: 10px;
   }
   .hero-container .hero-content .hero-heading {
      margin-bottom: 0px;
   }
   .hero-container .hero-content .hero-heading > br {
      display: none;
   }
   .hero-container .hero-content:nth-child(2) {
      margin-top: 0px;
   }
   .hero-container .hero-content .owl-card-container {
      width: 100%;
   }
   .hero-container .hero-content .offer-container {
      display: none;
   }
   .hero-container .hero-image {
      grid-column: 1/2;
      grid-row: 2/3;
      margin-bottom: 20px;
   }
   .hero-container .hero-image > img {
      width: 100%;
      height: 100%;
   }
   .hero-container .card {
      width: 100%;
      max-width: 350px;
      min-width: 300px;
      margin: 0px auto;
      padding: 20px 30px;
   }
   .hero-container .card > p {
      margin-left: 20px;
      margin-right: 20px;
   }
   .hero-container .card .image-container {
      height: 90px;
      width: 90px;
      margin-bottom: 15px;
   }
   .hero-container .card .extra-text {
      display: none;
   }
   .hero-container .offer-container {
      align-self: stretch;
   }
}
@media screen and (max-width: 700px) {
   .hero-container {
      padding-top: 1vh !important;
   }

   .card {
      padding: 10px 30px !important;
   }
}
@media screen and (max-width: 650px) {
   .text-animation-container {
      max-height: 70px !important;
   }
   @keyframes moveup {
      0% {
         opacity: 0;
         transform: translateY(50%);
      }
      10% {
         transform: translateY(5%);
         opacity: 1;
      }
      30% {
         transform: translateY(5%);
         opacity: 1;
      }
      35% {
         opacity: 0;
      }
      40% {
         opacity: 1;
         transform: translateY(-35%);
      }
      60% {
         opacity: 1;
         transform: translateY(-35%);
      }
      65% {
         opacity: 0;
      }
      70% {
         transform: translateY(-75%);
         opacity: 1;
      }
      90% {
         opacity: 1;
         transform: translateY(-75%);
      }
      100% {
         opacity: 0;
         transform: translateY(-100%);
      }
   }

   .hero-subHeading {
      font-size: 1.8rem;
   }

   .hero-heading {
      font-size: 2rem !important;
      margin-top: 10px;
   }
}
@media screen and (min-width: 1000px) and (max-width: 1499px) {
   .hero-image {
      align-items: center !important;
   }
}
@media screen and (max-width: 700px) {
   .hero-heading {
      font-size: 2rem !important;
   }
}
.combo-section {
   padding: 10px;
   padding-bottom: 100px;
   width: 100vw;
   height: fit-content;
}

.combo-text {
   margin-top: -25px;
   margin-left: 130px;
   font-size: 1.4rem;
}
@media screen and (max-width: 1000px) {
   .combo-text {
      margin: 0;
   }
}
@media screen and (min-width: 1001px) {
   .combo-text {
      margin-left: 70px;
   }
}
@media screen and (min-width: 1301px) {
   .combo-text {
      margin-left: 110px;
   }
}
@media screen and (min-width: 1501px) {
   .combo-text {
      margin-left: 130px;
   }
}
@media screen and (min-width: 1701px) {
   .combo-text {
      margin-left: 160px;
   }
}

.combo-content .combo-container {
   width: 100%;
   padding-top: 20px;
   overflow-x: hidden;
}
.combo-content .combo-container .combo-track,
.combo-content .combo-container .combo-track-reverse {
   position: relative;
   left: 0%;
   top: 0%;
   width: 200%;
   display: flex;
   padding: 10px;
   animation: comboshowcase 15s linear infinite;
}
@keyframes comboshowcase {
   0% {
      left: 0%;
   }
   100% {
      left: -45.6666%;
   }
}
.combo-content .combo-container .combo-track-reverse {
   animation-direction: reverse;
}
.combo-content .combo-container .combo-card {
   border-radius: 10px;
   overflow: hidden;
   width: 400px;
}
.combo-content .combo-container .combo-card:not(:last-child) {
   margin-right: 20px;
}
.combo-content .combo-container .combo-card > img {
   width: 100%;
}

@media screen and (max-width: 700px) {
   .combo-text {
      margin: 0;
   }

   .combo-section {
      margin-top: 8vh;
   }
   .combo-section .combo-container {
      position: static;
      height: 100%;
   }
   .combo-section .combo-container .combo-track,
   .combo-section .combo-container .combo-track-reverse {
      width: 100%;
      position: static;
      display: grid;
      grid-template-columns: 1fr;
      animation: none;
   }
   .combo-section .combo-container .combo-track-reverse {
      left: 0%;
      display: none;
   }
   .combo-section .combo-container .combo-card {
      margin-bottom: 15px;
      margin-right: 0px;
      width: 100%;
   }
   .combo-section .combo-container .combo-card:nth-child(even) {
      display: none;
   }
}
@media screen and (min-width: 1550px) {
   .combo-track,
   .combo-track-reverse {
      width: 150% !important;
   }

   @keyframes showcase {
      0% {
         left: 0%;
      }
      100% {
         left: 0%;
      }
   }
}
.combo-card > img {
   width: 100%;
}

.feature-section {
   width: 100vw;
   padding: 0px 20px;
}

.feature-content {
   padding: 50px 0px;
   width: 80%;
   height: 60%;
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
}

.feature-card {
   flex: 1;
   background-color: #1e1e1e;
   margin-right: 20px;
   border-radius: 20px;
   display: flex;
   height: 100%;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   color: white;
   padding: 60px 50px;
}
.feature-card .card-image {
   display: flex;
   align-items: center;
   justify-content: center;
}
.feature-card .card-image > img {
   width: 80px;
   height: 80px;
}
.feature-card .card-image .card-img {
   height: 80px;
}
.feature-card > p {
   margin-top: -10px;
   text-align: center;
}

@media screen and (max-width: 700px) {
   .feature-section {
      flex-direction: column;
      height: 70vh;
   }
   .feature-section .mobile-view-only {
      display: block !important;
   }

   .feature-content {
      width: 100%;
      height: 80%;
      margin-top: 30px;
      margin-left: auto;
      display: grid;
      column-gap: 20px;
      row-gap: 20px;
      grid-template-columns: 1fr 1fr;
   }
   .feature-content .feature-card {
      height: 100%;
      margin-bottom: 20px;
      padding: 0px 20px;
      width: 100%;
      flex-shrink: 0;
   }
   .feature-content .feature-card:nth-child(even) {
      margin-right: 0px;
   }
   .feature-content .feature-card > p {
      width: 100%;
   }
}
@media screen and (min-width: 701px) and (max-width: 1000px) {
   .feature-content {
      grid-template-columns: 1fr 1fr;
      row-gap: 20px;
   }
}
@media screen and (min-width: 701px) and (max-width: 1100px) {
   .feature-content {
      width: 100%;
      height: fit-content;
      margin-left: 0px;
      flex-wrap: wrap;
      height: 50%;
   }
   .feature-content .feature-card {
      height: 100%;
      flex-basis: 300px;
      margin-bottom: 20px;
   }
}
.center {
   width: 85%;
   margin: 0px auto;
   color: #ffffff;
   font-size: 1.4rem;
   line-height: 2.2rem;
   margin-bottom: 20px;
}
@media screen and (max-width: 1000px) {
   .center {
      width: 95%;
   }
}
@media screen and (max-width: 767px) {
   .center {
      width: 100%;
      padding: 0px 0px;
   }
}

.review-section {
   padding: 10px;
   padding-bottom: 100px;
   width: 100vw;
   height: fit-content;
}

.review-container {
   width: 100%;
   padding-top: 20px;
   overflow-x: hidden;
}
.review-container .review-track,
.review-container .review-track-reverse {
   position: relative;
   left: 0%;
   top: 0%;
   width: 150%;
   display: flex;
   padding: 10px;
   animation: showcase 25s linear infinite;
}
@keyframes showcase {
   0% {
      left: 0%;
   }
   100% {
      left: -150%;
   }
}
.review-container .review-track-reverse {
   animation-direction: reverse;
}
.review-container .review-card {
   background-color: #1e1e1e;
   display: flex;
   padding: 20px;
   border-radius: 10px;
   align-items: center;
   flex: 1;
}
.review-container .review-card:not(:last-child) {
   margin-right: 20px;
}
@media screen and (max-width: 767px) {
   .review-container .review-card:not(:last-child) {
      margin-right: 0px !important;
   }
}
.review-container .review-card .card-image-container {
   flex: 1;
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   flex-direction: column;
   margin-right: 20px;
}
@media screen and (max-width: 1440px) {
   .review-container .review-card .card-image-container {
      flex: 2;
   }
}
@media screen and (max-width: 767px) {
   .review-container .review-card .card-image-container {
      margin-right: 0px;
      flex: 2;
   }
}
.review-container .review-card .card-image-container > img {
   margin-bottom: 5px;
   width: 70px;
   height: 70px;
}
.review-container .review-card .card-image-container > p {
   text-align: center;
}
.review-container .review-card .card-content {
   flex: 4;
}
@media screen and (max-width: 1440px) {
   .review-container .review-card .card-content {
      flex: 5;
   }
}
@media screen and (max-width: 767px) {
   .review-container .review-card .card-content {
      flex: 5;
   }
}
.review-container .review-card .card-content > h1 {
   font-family: inherit;
   font-weight: 600;
   margin-bottom: 10px;
   font-size: 2.2rem;
}
.review-container .review-card .card-content > p {
   font-size: 1.4rem;
   font-weight: 300;
   font-family: inherit;
   line-height: 1.4;
   color: white;
}

@media screen and (max-width: 700px) {
   .review-section {
      padding-top: 100px;
   }
   .review-section .review-container {
      position: static;
      height: 100%;
   }
   .review-section .review-container .review-track,
   .review-section .review-container .review-track-reverse {
      width: 100%;
      position: static;
      display: grid;
      grid-template-columns: 1fr;
      animation: none;
   }
   .review-section .review-container .review-track-reverse {
      left: 0%;
      display: none;
   }
   .review-section .review-container .review-card {
      margin-bottom: 15px;
      margin-right: 0px;
   }
   .review-section .review-container .review-card:nth-child(even) {
      display: none;
   }
}
@media screen and (min-width: 701px) and (max-width: 1150px) {
   .review-track,
   .review-track-reverse {
      width: 550% !important;
   }

   @keyframes showcase {
      0% {
         left: 0%;
      }
      100% {
         left: -300%;
      }
   }
   .review-card {
      flex-basis: 400px;
      flex-shrink: 0;
      flex-grow: 1;
   }
}
@media screen and (min-width: 1100px) {
   .review-track,
   .review-track-reverse {
      width: 350% !important;
   }

   @keyframes showcase {
      0% {
         left: 0%;
      }
      100% {
         left: -250%;
      }
   }
}
img {
   max-width: 100%;
}

.rvmobile .creviews-title {
   font-weight: 500;
   font-size: 48px;
   line-height: 59px;
   text-align: center;
   position: relative;
   max-width: 420px;
   margin: 0px auto 30px;
}
@media screen and (max-width: 767px) {
   .rvmobile .creviews-title {
      margin-top: 0px;
      max-width: 85%;
      font-size: 30px;
      text-align: left;
      line-height: 50px;
      color: #ffffff;
   }
}
.rvmobile .creviews-title:after {
   content: "";
   width: 296px;
   height: 8px;
   background-color: #eb1c24;
   position: absolute;
   bottom: -10px;
   left: 65px;
}
@media screen and (max-width: 700px) {
   .rvmobile .creviews-title:after {
      width: 135px;
      height: 5px;
      bottom: -2px;
      left: 55px;
   }
}
.rvmobile .reviews-card {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 1rem;
   padding: 1.8rem 1.4rem;
   border-radius: 2rem;
   background: #252525;
   box-shadow: 0px 8px 57px -18px rgba(235, 28, 36, 0.41) !important;
   border-radius: 17px;
}
@media screen and (max-width: 767px) {
   .rvmobile .reviews-card {
      flex-direction: column;
      text-align: center;
      margin-bottom: 40px;
   }
}
.rvmobile .reviews-card .reviews-img-box {
   width: 30%;
}
@media screen and (max-width: 800px) {
   .rvmobile .reviews-card .reviews-img-box {
      width: 100%;
   }
}
.rvmobile .reviews-card .reviews-content {
   width: 70%;
}
@media screen and (max-width: 800px) {
   .rvmobile .reviews-card .reviews-content {
      width: 100%;
   }
}
.rvmobile .reviews-card .reviews-content .revtl {
   color: #eb1c24;
   font-size: 36px;
   font-weight: 600;
}
@media screen and (max-width: 767px) {
   .rvmobile .reviews-card .reviews-content .revtl {
      font-size: 20px;
      margin-bottom: 15px;
   }
}
.rvmobile .reviews-card .reviews-content .reviews-card-body {
   font-size: 21px;
   font-weight: 400;
   line-height: 31px;
}
@media screen and (max-width: 767px) {
   .rvmobile .reviews-card .reviews-content .reviews-card-body {
      text-align: center;
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
   }
}
.rvmobile .reviews-card .reviews-card-username {
   font-size: 18px;
   margin: 1.2rem 0 0.8rem;
   color: #ffffff;
   margin-bottom: 12px;
}
.rvmobile .main-reviews-card {
   width: 100%;
   display: flex;
   justify-content: space-between;
   margin-bottom: 0px;
   flex-wrap: wrap;
}
@media screen and (max-width: 600px) {
   .rvmobile .main-reviews-card {
      flex-direction: column;
      margin-bottom: 30px;
   }
}
.rvmobile .main-reviews-card .veviews-box {
   width: 50%;
   padding: 0px 30px;
}
@media screen and (max-width: 600px) {
   .rvmobile .main-reviews-card .veviews-box {
      width: 100%;
      text-align: center;
   }
}
.rvmobile .reviews-img-box .reviews-card-img-container {
   margin: 0px auto;
   width: 80px;
}
@media screen and (max-width: 767px) {
   .rvmobile .reviews-img-box .reviews-card-img-container {
      width: 70px;
      border: 0.2rem solid #eb1c24;
      border-radius: 50%;
   }
}
.rvmobile .reviews-img-box .reviews-card-img-container img {
   border-radius: 50%;
}

.rvmobile {
   display: none;
}
@media screen and (max-width: 767px) {
   .rvmobile {
      display: none;
      margin-top: 160px;
      margin-bottom: 0px;
      padding-top: 45px;
   }
   .rvmobile .reviews-card .reviews-card-body {
      color: #fff;
   }
}
.rvmobile .reviews-text {
   color: #fff;
   text-align: center;
   font-size: 16px;
   margin-bottom: 18px;
}
.rvmobile .owl-stage {
   padding-left: 30px !important;
}

.review-section {
   padding-top: 60px !important;
   padding-bottom: 60px !important;
   background: #000000;
}
@media screen and (max-width: 767px) {
   .review-section {
      padding-bottom: 0px !important;
   }
}
.review-section .heading {
   z-index: 5;
}
.review-section .reviews-heading {
   font-weight: 500;
   font-size: 38px;
   line-height: 46px;
   text-align: center;
   position: relative;
   max-width: 250px;
   margin: 0px auto 25px;
}
@media screen and (max-width: 767px) {
   .review-section .reviews-heading {
      max-width: 320px;
      font-size: 30px;
   }
}
.review-section .reviews-heading:after {
   content: "";
   width: 238px;
   height: 8px;
   background-color: #eb1c24;
   position: absolute;
   bottom: -10px;
   left: 9px;
}
@media screen and (max-width: 767px) {
   .review-section .reviews-heading:after {
      width: 196px;
      bottom: 0px;
      display: none;
   }
}
.review-section .review-card {
   background-color: #252525 !important;
   box-shadow: 0px 8px 57px -18px rgba(235, 28, 36, 0.41);
   border-radius: 17px;
}
.review-section .review-card .card-image-container .text-sm {
   font-size: 18px;
   font-weight: 500;
   margin-top: 20px;
}
@media screen and (max-width: 1025px) {
   .review-section .review-card .card-image-container .text-sm {
      font-size: 15px;
   }
}
@media screen and (max-width: 700px) {
   .review-section .review-card .card-image-container .text-sm {
      font-size: 13px;
      margin-top: 0px;
   }
}
.review-section .review-card .card-image-container img {
   width: 90px;
   height: 90px;
}
@media screen and (max-width: 600px) {
   .review-section .review-card .card-image-container img {
      width: 65px;
      height: 65px;
   }
}
.review-section .review-card .card-content {
   padding-left: 20px;
}
@media screen and (max-width: 767px) {
   .review-section .review-card .card-content {
      padding-left: 10px;
   }
}
.review-section .review-card .card-content .red {
   font-size: 30px;
   margin-bottom: 15px;
}
@media screen and (min-width: 1025px) and (max-width: 1201px) {
   .review-section .review-card .card-content .red {
      font-size: 24px;
   }
}
@media screen and (max-width: 1025px) {
   .review-section .review-card .card-content .red {
      font-size: 20px;
   }
}
@media screen and (max-width: 767px) {
   .review-section .review-card .card-content .red {
      font-size: 18px;
      margin-bottom: 8px;
   }
}
.review-section .review-card .card-content p {
   font-size: 17px;
   font-weight: 400;
}
@media screen and (max-width: 1025px) {
   .review-section .review-card .card-content p {
      font-size: 15px;
   }
}
@media screen and (max-width: 767px) {
   .review-section .review-card .card-content p {
      font-size: 13px;
   }
}

@media screen and (max-width: 767px) {
   .fanbtlrvw {
      margin-top: 180px;
   }
}

@media screen and (max-width: 767px) {
   .reviewdesk {
      display: block !important;
   }
}

.partner-container {
   width: 100vw;
}
.partner-container .partner-content {
   width: 80%;
   max-width: 1000px;
   margin: 70px auto;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
}
.partner-container .partner-content .partner-card {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   margin-right: 20px;
}
.partner-container .partner-content .partner-card > img {
   width: 150px;
   height: 150px;
}
.partner-container .partner-content .partner-card > p {
   color: white;
   margin-top: 20px;
}

.disclaimer-container {
   background-color: black;
   color: white;
   width: 85%;
   margin: 0 auto;
   padding: 10px;
   border-radius: 5px;
}
.disclaimer-container > p {
   font-size: 1.3rem;
   text-align: center;
   line-height: 1.5;
}
.disclaimer-container > p > span {
   font-weight: 600;
}

@media screen and (max-width: 700px) {
   .partner-container {
      padding: 10px;
   }
   .partner-container .partner-content {
      width: 100%;
      padding: 10px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
   }
   .partner-container .partner-content .partner-card {
      flex: 1;
   }
   .partner-container .partner-content .partner-card > img {
      width: 120px;
      height: 120px;
   }
   .partner-container .partner-content .partner-card:nth-child(1) {
      margin-bottom: 40px;
   }
   .partner-container .partner-content .partner-card:nth-child(2) {
      margin-bottom: 40px;
   }

   .disclaimer-container {
      width: 90%;
   }
   .disclaimer-container > p {
      text-align: left !important;
   }
}
@media screen and (min-width: 701px) and (max-width: 1000px) {
   .partner-content {
      width: 100% !important;
      grid-template-columns: 1fr 1fr !important;
      gap: 40px;
   }
   .partner-content .partner-card:nth-child(even) {
      justify-self: start;
   }
   .partner-content .partner-card:nth-child(odd) {
      justify-self: end;
   }
}
.footer-section {
   border-top: 4px solid var(--secondary-color);
   width: 100%;
   padding: 40px 40px 20px 40px;
   display: flex;
   color: white;
}
.footer-section .container {
   flex: 1;
}
.footer-section .container > p {
   color: #b4b4b4;
}
.footer-section .container > p > a {
   cursor: pointer;
   text-decoration: none;
   color: #b4b4b4;
}
.footer-section .container > p > a:hover {
   text-decoration: underline;
}
.footer-section .container:nth-child(1) .social-media-container {
   display: flex;
   align-items: center;
   flex: 1;
   justify-content: space-between;
}
.footer-section .container:nth-child(1) .social-media-container .icons {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex: 1;
}
.footer-section .container:nth-child(1) .social-media-container .icons img {
   width: 30px;
   height: 30px;
}
.footer-section .container:nth-child(1) .social-media-container .icons .footer-small {
   width: 22px;
   height: 22px;
}
.footer-section .container:nth-child(1) .social-media-container > p {
   flex: 2;
   text-transform: uppercase;
   color: #b4b4b4;
}
.footer-section .container:nth-child(2) {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   justify-content: flex-end;
}
.footer-section .container:nth-child(2) > p > span {
   font-weight: bold;
}
.footer-section .container:nth-child(2) > p:nth-child(2) {
   margin-top: 10px;
}

@media screen and (max-width: 700px) {
   .footer-section {
      flex-direction: column;
      padding: 10px;
   }
   .footer-section .container:nth-child(1) {
      order: 2;
   }
   .footer-section .container:nth-child(1) > p {
      text-align: center;
   }
   .footer-section .container:nth-child(1) .social-media-container {
      flex-direction: column;
      width: 100%;
      margin-bottom: 20px;
   }
   .footer-section .container:nth-child(1) .social-media-container > p {
      order: 2;
   }
   .footer-section .container:nth-child(1) .social-media-container .icons {
      width: 50%;
      min-width: 200px;
      max-width: 250px;
      margin-bottom: 10px;
   }
   .footer-section .container:nth-child(2) {
      order: 1;
      align-items: flex-start;
      justify-content: center;
   }
   .footer-section .container:nth-child(2) > p {
      margin: auto;
      font-size: 1.2rem;
      text-align: center;
   }
}
@media screen and (min-width: 700px) and (max-width: 1200px) {
   .footer-section {
      flex-direction: column;
      padding: 20px;
   }
   .footer-section .container:nth-child(1) {
      order: 2;
   }
   .footer-section .container:nth-child(1) > p {
      text-align: center;
   }
   .footer-section .container:nth-child(1) .social-media-container {
      flex-direction: column;
      width: 70%;
      margin: 0px auto;
      margin-bottom: 20px;
   }
   .footer-section .container:nth-child(1) .social-media-container > p {
      order: 2;
   }
   .footer-section .container:nth-child(1) .social-media-container .icons {
      width: 40%;
      min-width: 200px;
      max-width: 250px;
   }
   .footer-section .container:nth-child(2) {
      order: 1;
      align-items: flex-start;
      justify-content: center;
   }
   .footer-section .container:nth-child(2) > p {
      margin: auto;
      font-size: 1.2rem;
      text-align: center;
   }
}
.games-section {
   width: 100%;
}
.games-section .heading {
   width: 50vw;
}
@media screen and (min-width: 1600px) {
   .games-section .heading {
      width: 50% !important;
   }
}
@media screen and (max-width: 1170px) {
   .games-section .heading {
      width: 80% !important;
   }
}
.games-section .section-heading {
   margin: 0 auto;
}
.games-section .games-container {
   margin: 50px 0 !important;
}
@media screen and (max-width: 700px) {
   .games-section .games-container {
      margin: 40px 0 0 !important;
   }
}
.games-section .games-container::-webkit-scrollbar {
   display: none;
}
.games-section .games-track {
   width: 90%;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: nowrap;
   padding: 0 40px;
   gap: 0 40px;
}
@media screen and (max-width: 800px) {
   .games-section .games-track {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-left: 0px;
      gap: 40px;
   }
}
@media screen and (max-width: 500px) {
   .games-section .games-track {
      gap: 20px;
      padding: 0 10px;
   }
}
.games-section .games-track .game-card {
   flex: 1;
   overflow: hidden;
}
.games-section .games-track .game-card img {
   width: 100%;
   max-height: 19vw;
}
@media screen and (max-width: 800px) {
   .games-section .games-track .game-card img {
      max-height: 45vw;
   }
}
@media screen and (max-width: 500px) {
   .games-section .games-track .game-card img {
      height: 60vw;
   }
}

* {
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
}

html {
   font-size: 10px;
   scroll-behavior: smooth;
}

:root {
   --secondary-color: #eb1c24;
}

body {
   background-color: #191919;
   font-family: Montserrat, sans-serif;
   width: 100vw;
   overflow-x: hidden;
}

.text-sm {
   font-size: 1.4rem;
}

.text-md {
   font-size: 1.6rem;
}

.text-xxl {
   font-size: 3rem;
   font-weight: 500;
}

.text-lg {
   font-size: 1.8rem;
}

.text-xl {
   font-size: 2.6rem !important;
}

.mt-sub-1 {
   margin-top: -1rem !important;
}

.mt-sub-3 {
   margin-top: -3rem !important;
}

.mt-2 {
   margin-top: 2rem;
}

.mb-2 {
   margin-bottom: 2rem;
}

.capitalize {
   text-transform: capitalize;
}

.button-md {
   background-color: var(--secondary-color);
   border: none;
   color: white;
   padding: 13px 30px;
   border-radius: 5px;
   font-size: 1.7rem;
   cursor: pointer;
   font-weight: 500;
   font-family: "Montserrat";
}
.button-md > a {
   color: white;
   text-decoration: none;
}

.button-xl {
   background-color: var(--secondary-color);
   border: none;
   color: white;
   padding: 15px 40px;
   border-radius: 10px;
   font-size: 2.2rem;
   cursor: pointer;
   font-weight: 500;
   font-family: "Montserrat";
}
.button-xl > a {
   color: white;
   text-decoration: none;
}

.red {
   color: var(--secondary-color);
}

.heading {
   width: 40%;
   color: white;
   position: relative;
   height: 20.8rem;
   display: flex;
   align-items: flex-end;
   justify-content: center;
   position: relative;
}
.heading .fade-heading {
   position: absolute;
   top: -10%;
   left: 0%;
   font-size: 20.8rem;
   color: #1f1f1f;
   height: 100%;
   z-index: -1;
   width: 100%;
   font-weight: 600;
}
.heading .section-heading {
   font-size: 9rem;
   font-weight: 500;
}

.download-popup {
   display: none;
}

.popup-text {
   color: white;
   font-weight: 500;
   font-size: 1.4rem;
}

.mobile-view-only {
   display: none !important;
}

.red-border {
   border: 3.5px solid #eb1c24;
   border-radius: 50%;
}

.white {
   color: white;
}

@media screen and (max-width: 700px) {
   .mobile-view-only {
      display: flex !important;
   }

   .desktop-view-only {
      display: none !important;
   }

   .heading {
      width: 100%;
      height: 8rem;
      margin-bottom: 0px;
      justify-content: flex-start;
   }
   .heading .fade-heading {
      font-size: 7rem;
      top: 0%;
   }
   .heading .section-heading {
      font-size: 4rem;
   }

   .text-xxl {
      font-size: 2.4rem;
   }

   .text-xl {
      font-size: 2.2rem !important;
   }

   .text-lg {
      font-size: 1.6rem;
   }
}
@media screen and (max-width: 1000px) {
   .download-popup {
      background-color: #1e1e1e;
      padding: 0 20px 10px;
      margin-top: 0;
      z-index: 98;
      display: flex;
      width: 100%;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      position: sticky;
      bottom: 0;
   }
   .download-popup > h2 {
      color: white;
   }
   .download-popup button {
      font-size: 1.6rem;
   }
}
@media screen and (min-width: 700px) and (max-width: 950px) {
   .heading {
      height: 15rem;
      width: 100%;
      justify-content: flex-start;
   }
   .heading .fade-heading {
      font-size: 15rem;
   }
   .heading .section-heading {
      font-size: 7rem;
   }
}
.android-apple-button {
   display: none;
}
@media screen and (max-width: 767px) {
   .android-apple-button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
      margin-top: 15px;
   }
   .android-apple-button .appimg {
      width: 150px;
   }
}
.page-section .page-content p {
   font-weight: 400 !important;
}
.page-section .page-content h2 {
   font-size: 23px;
   font-weight: 600;
   line-height: 36px;
   margin-bottom: 20px;
}
.page-section .page-content ul {
   list-style-position: inside;
}
.page-section .page-content ul li {
   font-size: 17px;
   font-weight: 400 !important;
   line-height: 36px;
   margin-bottom: 20px;
}
.table {
   min-width: 60%;
   table-layout: fixed;
   border-collapse: collapse;
   border: 0;
   border-bottom: solid rgba(255, 255, 255, 0.79);
   margin-bottom: 16px;
}
.table tr {
   position: relative;
   background-color: inherit;
   border: solid rgba(255, 255, 255, 0.79);
   border-width: 1px 1px 0;
}
.table tr:hover {
   background-color: rgba(233, 233, 233, 0.04);
}
.table td,
.table th {
   line-height: 1.7;
   min-height: 48px;
   padding: 12px 16px;
}
.table p {
   line-height: 1.7;
   margin-top: 12px;
   margin-bottom: 12px;
}
.tdsCalculator {
   width: 60%;
   border-radius: 15px;
   padding: 10px;
   margin: 20px 0;
   border: 1px solid rgba(255, 255, 255, 0.79);
}
.tdsCalculator h3 {
   font: 600 20px/22px Montserrat, sans-serif;
}
.inputDIV p {
   font: 400 20px/36px Montserrat, sans-serif;
   margin-bottom: 5px !important;
}

.inputDIV input[type="number"],
.inputDIV input[type="text"] {
   padding: 5px;
   border-radius: 5px;
   border: 1px solid rgb(237, 237, 237);
   width: 100%;
   background: transparent;
   box-sizing: border-box;
   font-size: 16px;
   outline: none;
   color: white;
}
input:focus-visible {
   outline-offset: 0px;
}
.inputDIV .submitButton {
   width: 190px;
   height: 40px;
   line-height: 40px;
   padding: 0px 10px;
   border-radius: 7px;
   font-size: 16px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: 400;
   color: white;
   border: 0;
   margin: 10px 0;
   cursor: pointer;
   outline: none;
   background: linear-gradient(180deg, #01c981, #009c4d);
}
.page-content {
   position: relative;
}
.language {
   position: absolute;
   bottom: -30px;
   right: 0;
   cursor: pointer;
   z-index: 9999999;
}
/* .language {
   position: absolute;
   right: 0;
   top: -35px;
   cursor: pointer;
   z-index: 9999999;
} */

.language p {
   font-size: 14px;
   line-height: 16px;
   margin-bottom: 5px;
}
.skiptranslate {
   display: none !important;
}
.skiptranslate.goog-te-gadget {
   display: block !important;
}
body {
   top: 0px !important;
}
.page-content a {
   touch-action: manipulation;
   color: red;
   text-decoration: none;
   background-color: transparent;
}
@media screen and (max-width: 500px) {
   .tdsCalculator {
      width: 95%;
   }
   .inputDIV p {
      font: 400 14px/18px Montserrat, sans-serif;
      margin-bottom: 5px !important;
   }
}
.section.about.newabout .about-container {
   display: block;
}
.toggleAbout {
   display: none;
}
.toggleAbout.show {
   display: block;
}
.moreABout,
.lessAbout {
   display: inline-block;
   cursor: pointer;
}
.moreABout.phoneView {
   display: none;
}

.section.about.newabout {
   width: 90vw;
   padding: 0 12px;
   margin: 0 auto;
}

.section.about.newabout .about-container > p,
.toggleAbout p {
   font-size: 15px;
   color: white;
   font-weight: 400;
   padding: 10px;
   text-align: center;
   display: block;
   align-items: center;
   justify-content: center;
   background: none;
   margin: 0;
   border-radius: 20px;
   line-height: 1.3;
   box-shadow: none;
}

.section-heading {
   text-align: center;
   font-size: 30px;
   font-weight: 400;
   color: #fff;
   margin: 0px auto 45px;
   position: relative;
}

.section-heading:before {
   content: "";
   position: absolute;
   bottom: -10px;
   left: 50%;
   transform: translateX(-50%);
   width: 175px;
   height: 5px;
   border-radius: 5px;
   background: #f3032f;
}
.disclaimer-section {
   padding-bottom: 20px;
   text-align: center;
   color: #fff;
}
.disclaimer-section .container {
   max-width: 1000px;
}

.disclaimer-section h5 {
   font-size: 20px;
   font-weight: 400;
   margin-top: 9px;
   margin-bottom: 0;
}
.disclaimer-section .container p {
   font-style: italic;
   font-size: 15px;
}
.audioDiv {
   margin-bottom: 40px;
}
audio {
   width: 400px;
}
.audioDiv p {
   font-size: 20px;
   font-weight: 500;
   line-height: 36px;
   margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
   .disclaimer-section .container p {
      font-style: italic;
      font-size: 10px;
   }
   .section-heading:before {
      left: 36%;
   }
   audio {
      width: 75%;
      height: 49px;
   }
   .language {
      position: absolute;
      bottom: 0;
      right: 0;
      top: 112%;
      cursor: pointer;
      z-index: 9999999;
   }
   .page-section .heading.tdsHeight {
      height: 5rem !important;
      margin-bottom: 15px;
   }
   .audioDiv {
      /* text-align: center; */
      margin-top: 70px;
      margin-bottom: 0;
   }
   .audioDiv p {
      font-size: 16px;
      line-height: 26px !important;
      margin: 6px 0;
      padding-bottom: 6px;
   }
   .page-section .page-title.tdsTitle {
      font-size: 24px !important;
      text-align: center;
      line-height: 28px;
      margin: 0px auto 10px;
   }
}
/*# sourceMappingURL=ipl.css.map */
